.subscription {
	border-top: solid .1rem #fff;
	padding: 2rem 1rem;
	margin-bottom: auto;
    &__nav {
        width: 100%;    
    }

    &__infotitle {
        color: #fff;
        text-transform: uppercase;
    }

    &__list {
    	width: 100%;
    }

    &__item {
    	width: 100%;
    	padding:1rem 1rem;
    	transition: background .25s;
     &:hover{
     	background: var(--color-primary);
     }
     &:active{
     	background: var(--color-primary-light);
     }
    }
    &__link{
    	width: 100%;    	
    	display: flex;    	
    	align-items: center;
    	color: #fff;
    	&:hover{
    		color: #fff;
    	}
    }
    &__image{
    	width: 10%;
    	height: 10%;
    	border-radius: 50%;
    	margin-right: 2rem;
    }
    &__title{
      margin-top: 0;
    }
}