.alerts-view {
    background: var(--color-primary);
    padding: 2rem 5rem;
    border-radius: 0 0 2rem 2rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);

    &__icon {
        color: var(--color-primary);
    }

    &__message {
        font-size: 1.7rem;
        font-weight: 600;
        color: #fff;
    }
}